[versions]
jetbrains-annotations = "24.0.1"
spigot = "1.8.8-R0.1-SNAPSHOT"
paperSpigot = "1.19.4-R0.1-SNAPSHOT"
junit = "5.9.3"
kotlin = "1.8.22"
mockito = "4.11.0"
adventure-api = "4.14.0"
plugin-shadowjar = "8.1.1"
plugin-ktlint = "3.15.0"
plugin-spotless = "6.12.0"
plugin-publishOnCentral = "5.0.9"

[libraries.spigot]
module = "org.spigotmc:spigot-api"
version.ref = "spigot"

[libraries.paperSpigot]
module = "io.papermc.paper:paper-api"
version.ref = "paperSpigot"

[libraries.jetbrains-annotations]
module = "org.jetbrains:annotations"
version.ref = "jetbrains-annotations"

[libraries.junit-api]
module = "org.junit.jupiter:junit-jupiter-api"
version.ref = "junit"

[libraries.junit-engine]
module = "org.junit.jupiter:junit-jupiter-engine"
version.ref = "junit"

[libraries.kotlin]
module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8"
version.ref = "kotlin"

[libraries.mockito-core]
module = "org.mockito:mockito-core"
version.ref = "mockito"

[libraries.mockito-junit]
module = "org.mockito:mockito-junit-jupiter"
version.ref = "mockito"

[libraries.adventure-api]
module = "net.kyori:adventure-api"
version.ref = "adventure-api"

[plugins]
shadowjar = { id = "com.github.johnrengelman.shadow", version.ref = "plugin-shadowjar" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ktlint = { id = "org.jmailen.kotlinter", version.ref = "plugin-ktlint" }
spotless = { id = "com.diffplug.spotless", version.ref = "plugin-spotless" }
publishOnCentral = { id = "org.danilopianini.publish-on-central", version.ref = "plugin-publishOnCentral" }