[versions]
jetbrains-annotations = "24.1.0"
spigot = "1.20.4-R0.1-SNAPSHOT"
paperSpigot = "1.20.4-R0.1-SNAPSHOT"
junit = "5.10.2"
mockito = "4.11.0"
adventure-api = "4.15.0"
kotlin = "1.9.22"
plugin-shadowjar = "8.1.1"
plugin-spotless = "6.12.0"
plugin-bukkit = "0.6.0"

[libraries.spigot]
module = "org.spigotmc:spigot-api"
version.ref = "spigot"

[libraries.paperSpigot]
module = "io.papermc.paper:paper-api"
version.ref = "paperSpigot"

[libraries.jetbrains-annotations]
module = "org.jetbrains:annotations"
version.ref = "jetbrains-annotations"

[libraries.junit-api]
module = "org.junit.jupiter:junit-jupiter-api"
version.ref = "junit"

[libraries.junit-engine]
module = "org.junit.jupiter:junit-jupiter-engine"
version.ref = "junit"

[libraries.mockito-core]
module = "org.mockito:mockito-core"
version.ref = "mockito"

[libraries.mockito-junit]
module = "org.mockito:mockito-junit-jupiter"
version.ref = "mockito"

[libraries.adventure-api]
module = "net.kyori:adventure-api"
version.ref = "adventure-api"

[plugins]
shadowjar = { id = "com.github.johnrengelman.shadow", version.ref = "plugin-shadowjar" }
spotless = { id = "com.diffplug.spotless", version.ref = "plugin-spotless" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
bukkit = { id = "net.minecrell.plugin-yml.bukkit", version.ref = "plugin-bukkit" }