[versions]
jetbrains-annotations = "23.0.0"
spigot-api = "1.16.5-R0.1-SNAPSHOT"
junit = "5.8.2"
lombok = "1.18.24"
kotlin = "1.7.10"
mockito = "4.6.1"
plugin-shadowjar = "7.1.2"
plugin-ktlint = "3.11.1"

[libraries.spigot-api]
module = "org.spigotmc:spigot-api"
version.ref = "spigot-api"

[libraries.jetbrains-annotations]
module = "org.jetbrains:annotations"
version.ref = "jetbrains-annotations"

[libraries.junit-api]
module = "org.junit.jupiter:junit-jupiter-api"
version.ref = "junit"

[libraries.junit-engine]
module = "org.junit.jupiter:junit-jupiter-engine"
version.ref = "junit"

[libraries.lombok]
module = "org.projectlombok:lombok"
version.ref = "lombok"

[libraries.kotlin]
module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8"
version.ref = "kotlin"

[libraries.mockito-core]
module = "org.mockito:mockito-core"
version.ref = "mockito"

[plugins]
shadowjar = { id = "com.github.johnrengelman.shadow", version.ref = "plugin-shadowjar" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ktlint = { id = "org.jmailen.kotlinter", version.ref = "plugin-ktlint" }