name: Generate Artifacts

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  generate-artifacts:
    strategy:
      fail-fast: false
      matrix:
        platform: [Bukkit]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          server-id: github
          cache: 'gradle'
      - id: vars
        name: Downcase Platform Name
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ matrix.platform }}
      - name: Generate artifacts
        uses: burrunan/gradle-cache-action@v1
        with:
          arguments: ${{ steps.vars.outputs.lowercase }}-plugin:shadowJar
          gradle-version: wrapper
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: inventory-framework-${{ steps.vars.outputs.lowercase }}-${{ github.sha }}.jar
          path: ${{ steps.vars.outputs.lowercase }}-plugin/build/libs/*.jar
          retention-days: 3
          if-no-files-found: error