name: 'gradle-workflow'

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
  # push:
  #   branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build gradle project
        run: |
          chmod +x ./gradlew
          ./gradlew clean jar
      - name: Setup project version
        run: |
          export PROJECT_VERSION=$(./gradlew properties --no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}')
          echo "Debug gradle version ${PROJECT_VERSION}"
          echo "PROJECT_VERSION=${PROJECT_VERSION}" >> $GITHUB_ENV
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.PROJECT_VERSION }}
          release_name: "${{ format('{0} [Release #{1}]', github.event.head_commit.message, github.run_id) }}"
          body: ${{ steps.github_release.outputs.changelog }}
          draft: false
          prerelease: false
      - name: Upload release assets
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'build/libs/*.jar'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ env.PROJECT_VERSION }}