name: Publish Release

on:
  push:
    tags: [ 'v*.*.*' ]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Checkout Application Repository
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Set up JDK 1.8
              uses: actions/setup-java@v4
              with:
                  java-version: '1.8'
                  distribution: 'temurin'
                  server-id: github
                  settings-path: ${{ github.workspace }}

            - name: Set up Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Publish Release to Maven Central
              run: ./gradlew publishAndReleaseToMavenCentral -Pversion=${{ github.ref_name }} --no-daemon --stacktrace --no-configuration-cache
              env:
                  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
                  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_TOKEN }}
                  ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.OSSRH_SIGNING_KEY }}
                  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.OSSRH_SIGNING_PASSWORD }}