name: Publish package

on:
  release:
    types: [ created ]
  workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v3
            - name: Set up JDK
              uses: actions/setup-java@v3
              with:
                  java-version: '17'
                  distribution: 'temurin'
                  server-id: github
                  settings-path: ${{ github.workspace }}
            - name: Build with Gradle
              uses: gradle/gradle-build-action@cd3cedc781988c804f626f4cd2dc51d0bdf02a12
              with:
                  arguments: build -x check
            - name: Publish
              uses: gradle/gradle-build-action@cd3cedc781988c804f626f4cd2dc51d0bdf02a12
              with:
                  arguments: publish
              env:
                  USERNAME: ${{ github.actor }}
                  TOKEN: ${{ secrets.GITHUB_TOKEN }}